<?xml version="1.0" encoding="ISO-8859-1" ?>
<ui:composition template="/WEB-INF/templates/template.xhtml" xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:f="http://java.sun.com/jsf/core">
	<ui:define name="conteudo">
		<h1>Jogadores</h1>
		
		<h:form>
			<ui:include src="/formulario-novo-jogador.xhtml" />			
			<ui:include src="/lista-de-jogadores.xhtml" />
		</h:form>	
				
	</ui:define>		
</ui:composition>